<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'style/create.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename = 'js/create.js')}}"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
        <title>Create</title>
    </head>   
    <body onload="openDrums(), assignFunctions()">
        <div id="top_bar"> 
            <p id="user_name" onclick="logout()">{{ username }}</p>
            <i class="fas fa-sign-out-alt" id="exit" onclick="logout()"></i>
            <h1 id="title" onclick="home()">MusiCreator</h1>
            <i class="fas fa-book-open" id="book" onclick="library()"></i>
            <i class="fas fa-home" id="home" onclick="home()"></i>
        </div>  
        <hr> 
        <br>
        <br>
        <label for="instrument" id="inst_label">Instrument: </label>
        <select name="instrument" id="instrument" class="inputs" onchange="openTab()">
            <option>Drums</option>
            <option>Guitar</option>
            <option>Bass</option>
        </select>
        <label for="name">Track Name: </label>
        <input type="text" id="name" name="name" class="inputs" onkeyup="changeBorderColor('name')">
        <label for="name">BPM: </label>
        <input type="text" id="bpm" name="bpm" class="inputs" maxlength="3" size="1"  oninput="checkBpm()" onkeyup="changeBorderColor('bpm')">
        <i class="fas fa-play" id="play" onclick="play()"></i>
        <i class="fas fa-redo fa-flip-horizontal" id="reset" onclick="reset()"></i>
        <i class="fas fa-dice-five" id="dice" onclick="random()"></i>
        <br>
        <br>
        <br>
        <div id="drums">
        <table>
            <tr>    
                <td class="left_row">crash</td><td id="d,1,1"></td><td id="d,1,2"></td><td id="d,1,3"></td><td id="d,1,4"></td><td id="d,1,5"></td><td id="d,1,6"></td><td id="d,1,7"></td><td id="d,1,8"></td><td id="d,1,9"></td><td id="d,1,10"><td id="d,1,11"></td><td id="d,1,12"></td><td id="d,1,13"></td><td id="d,1,14"></td><td id="d,1,15"></td><td id="d,1,16"></td>
            </tr>
            <tr>    
                <td class="left_row">ride</td><td id="d,2,1"></td><td id="d,2,2"></td><td id="d,2,3"></td><td id="d,2,4"></td><td id="d,2,5"></td><td id="d,2,6"></td><td id="d,2,7"></td><td id="d,2,8"></td><td id="d,2,9"></td><td id="d,2,10"><td id="d,2,11"></td><td id="d,2,12"></td><td id="d,2,13"></td><td id="d,2,14"></td><td id="d,2,15"></td><td id="d,2,16"></td>
            </tr>
            <tr>    
                <td class="left_row">hi hat</td><td id="d,3,1"></td><td id="d,3,2"></td><td id="d,3,3"></td><td id="d,3,4"></td><td id="d,3,5"></td><td id="d,3,6"></td><td id="d,3,7"></td><td id="d,3,8"></td><td id="d,3,9"></td><td id="d,3,10"><td id="d,3,11"></td><td id="d,3,12"></td><td id="d,3,13"></td><td id="d,3,14"></td><td id="d,3,15"></td><td id="d,3,16"></td>
            </tr>
            <tr>    
                <td class="left_row">snare</td><td id="d,4,1"></td><td id="d,4,2"></td><td id="d,4,3"></td><td id="d,4,4"></td><td id="d,4,5"></td><td id="d,4,6"></td><td id="d,4,7"></td><td id="d,4,8"></td><td id="d,4,9"></td><td id="d,4,10"><td id="d,4,11"></td><td id="d,4,12"></td><td id="d,4,13"></td><td id="d,4,14"></td><td id="d,4,15"></td><td id="d,4,16"></td>
            </tr>
            <tr>    
                <td class="left_row">tom 1</td><td id="d,5,1"></td><td id="d,5,2"></td><td id="d,5,3"></td><td id="d,5,4"></td><td id="d,5,5"></td><td id="d,5,6"></td><td id="d,5,7"></td><td id="d,5,8"></td><td id="d,5,9"></td><td id="d,5,10"><td id="d,5,11"></td><td id="d,5,12"></td><td id="d,5,13"></td><td id="d,5,14"></td><td id="d,5,15"></td><td id="d,5,16"></td>
            </tr>
            <tr>    
                <td class="left_row">tom 2</td><td id="d,6,1"></td><td id="d,6,2"></td><td id="d,6,3"></td><td id="d,6,4"></td><td id="d,6,5"></td><td id="d,6,6"></td><td id="d,6,7"></td><td id="d,6,8"></td><td id="d,6,9"></td><td id="d,6,10"><td id="d,6,11"></td><td id="d,6,12"></td><td id="d,6,13"></td><td id="d,6,14"></td><td id="d,6,15"></td><td id="d,6,16"></td>
            </tr>
            <tr>    
                <td class="left_row">tom 3</td><td id="d,7,1"></td><td id="d,7,2"></td><td id="d,7,3"></td><td id="d,7,4"></td><td id="d,7,5"></td><td id="d,7,6"></td><td id="d,7,7"></td><td id="d,7,8"></td><td id="d,7,9"></td><td id="d,7,10"><td id="d,7,11"></td><td id="d,7,12"></td><td id="d,7,13"></td><td id="d,7,14"></td><td id="d,7,15"></td><td id="d,7,16"></td>
            </tr>
            <tr>    
                <td class="left_row">bass</td><td id="d,8,1"></td><td id="d,8,2"></td><td id="d,8,3"></td><td id="d,8,4"></td><td id="d,8,5"></td><td id="d,8,6"></td><td id="d,8,7"></td><td id="d,8,8"></td><td id="d,8,9"></td><td id="d,8,10"><td id="d,8,11"></td><td id="d,8,12"></td><td id="d,8,13"></td><td id="d,8,14"></td><td id="d,8,15"></td><td id="d,8,16"></td>
            </tr>
            <tr>    
                <td class="left_row">hi hat foot</td><td id="d,9,1"></td><td id="d,9,2"></td><td id="d,9,3"></td><td id="d,9,4"></td><td id="d,9,5"></td><td id="d,9,6"></td><td id="d,9,7"></td><td id="d,9,8"></td><td id="d,9,9"></td><td id="d,9,10"><td id="d,9,11"></td><td id="d,9,12"></td><td id="d,9,13"></td><td id="d,9,14"></td><td id="d,9,15"></td><td id="d,9,16"></td>
            </tr>
            <tr>    
                <td class="bottom_row"></td><td class="bottom_row">1</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">2</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">3</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">4</td><td  class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td>
            </tr>
        </table>
        </div>
        <div id="guitar">
        <table>
            <tr>    
                <td class="left_row">Acoustic A Chord</td><td id="g,1,1"></td><td id="g,1,2"></td><td id="g,1,3"></td><td id="g,1,4"></td><td id="g,1,5"></td><td id="g,1,6"></td><td id="g,1,7"></td><td id="g,1,8"></td><td id="g,1,9"></td><td id="g,1,10"><td id="g,1,11"></td><td id="g,1,12"></td><td id="g,1,13"></td><td id="g,1,14"></td><td id="g,1,15"></td><td id="g,1,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic B Chord</td><td id="g,2,1"></td><td id="g,2,2"></td><td id="g,2,3"></td><td id="g,2,4"></td><td id="g,2,5"></td><td id="g,2,6"></td><td id="g,2,7"></td><td id="g,2,8"></td><td id="g,2,9"></td><td id="g,2,10"><td id="g,2,11"></td><td id="g,2,12"></td><td id="g,2,13"></td><td id="g,2,14"></td><td id="g,2,15"></td><td id="g,2,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic C Chord</td><td id="g,3,1"></td><td id="g,3,2"></td><td id="g,3,3"></td><td id="g,3,4"></td><td id="g,3,5"></td><td id="g,3,6"></td><td id="g,3,7"></td><td id="g,3,8"></td><td id="g,3,9"></td><td id="g,3,10"><td id="g,3,11"></td><td id="g,3,12"></td><td id="g,3,13"></td><td id="g,3,14"></td><td id="g,3,15"></td><td id="g,3,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic D Chord</td><td id="g,4,1"></td><td id="g,4,2"></td><td id="g,4,3"></td><td id="g,4,4"></td><td id="g,4,5"></td><td id="g,4,6"></td><td id="g,4,7"></td><td id="g,4,8"></td><td id="g,4,9"></td><td id="g,4,10"><td id="g,4,11"></td><td id="g,4,12"></td><td id="g,4,13"></td><td id="g,4,14"></td><td id="g,4,15"></td><td id="g,4,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic E Chord</td><td id="g,5,1"></td><td id="g,5,2"></td><td id="g,5,3"></td><td id="g,5,4"></td><td id="g,5,5"></td><td id="g,5,6"></td><td id="g,5,7"></td><td id="g,5,8"></td><td id="g,5,9"></td><td id="g,5,10"><td id="g,5,11"></td><td id="g,5,12"></td><td id="g,5,13"></td><td id="g,5,14"></td><td id="g,5,15"></td><td id="g,5,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic F Chord</td><td id="g,6,1"></td><td id="g,6,2"></td><td id="g,6,3"></td><td id="g,6,4"></td><td id="g,6,5"></td><td id="g,6,6"></td><td id="g,6,7"></td><td id="g,6,8"></td><td id="g,6,9"></td><td id="g,6,10"><td id="g,6,11"></td><td id="g,6,12"></td><td id="g,6,13"></td><td id="g,6,14"></td><td id="g,6,15"></td><td id="g,6,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Acoustic G Chord</td><td id="g,7,1"></td><td id="g,7,2"></td><td id="g,7,3"></td><td id="g,7,4"></td><td id="g,7,5"></td><td id="g,7,6"></td><td id="g,7,7"></td><td id="g,7,8"></td><td id="g,7,9"></td><td id="g,7,10"><td id="g,7,11"></td><td id="g,7,12"></td><td id="g,7,13"></td><td id="g,7,14"></td><td id="g,7,15"></td><td id="g,7,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric A Chord</td><td id="g,8,1"></td><td id="g,8,2"></td><td id="g,8,3"></td><td id="g,8,4"></td><td id="g,8,5"></td><td id="g,8,6"></td><td id="g,8,7"></td><td id="g,8,8"></td><td id="g,8,9"></td><td id="g,8,10"><td id="g,8,11"></td><td id="g,8,12"></td><td id="g,8,13"></td><td id="g,8,14"></td><td id="g,8,15"></td><td id="g,8,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric B Chord</td><td id="g,9,1"></td><td id="g,9,2"></td><td id="g,9,3"></td><td id="g,9,4"></td><td id="g,9,5"></td><td id="g,9,6"></td><td id="g,9,7"></td><td id="g,9,8"></td><td id="g,9,9"></td><td id="g,9,10"><td id="g,9,11"></td><td id="g,9,12"></td><td id="g,9,13"></td><td id="g,9,14"></td><td id="g,9,15"></td><td id="g,9,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric C Chord</td><td id="g,10,1"></td><td id="g,10,2"></td><td id="g,10,3"></td><td id="g,10,4"></td><td id="g,10,5"></td><td id="g,10,6"></td><td id="g,10,7"></td><td id="g,10,8"></td><td id="g,10,9"></td><td id="g,10,10"><td id="g,10,11"></td><td id="g,10,12"></td><td id="g,10,13"></td><td id="g,10,14"></td><td id="g,10,15"></td><td id="g,10,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric D Chord</td><td id="g,11,1"></td><td id="g,11,2"></td><td id="g,11,3"></td><td id="g,11,4"></td><td id="g,11,5"></td><td id="g,11,6"></td><td id="g,11,7"></td><td id="g,11,8"></td><td id="g,11,9"></td><td id="g,11,10"><td id="g,11,11"></td><td id="g,11,12"></td><td id="g,11,13"></td><td id="g,11,14"></td><td id="g,11,15"></td><td id="g,11,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric E Chord</td><td id="g,12,1"></td><td id="g,12,2"></td><td id="g,12,3"></td><td id="g,12,4"></td><td id="g,12,5"></td><td id="g,12,6"></td><td id="g,12,7"></td><td id="g,12,8"></td><td id="g,12,9"></td><td id="g,12,10"><td id="g,12,11"></td><td id="g,12,12"></td><td id="g,12,13"></td><td id="g,12,14"></td><td id="g,12,15"></td><td id="g,12,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric F Chord</td><td id="g,13,1"></td><td id="g,13,2"></td><td id="g,13,3"></td><td id="g,13,4"></td><td id="g,13,5"></td><td id="g,13,6"></td><td id="g,13,7"></td><td id="g,13,8"></td><td id="g,13,9"></td><td id="g,13,10"><td id="g,13,11"></td><td id="g,13,12"></td><td id="g,13,13"></td><td id="g,13,14"></td><td id="g,13,15"></td><td id="g,13,16"></td>
            </tr>
            <tr>    
                <td class="left_row">Electric G Chord</td><td id="g,14,1"></td><td id="g,14,2"></td><td id="g,14,3"></td><td id="g,14,4"></td><td id="g,14,5"></td><td id="g,14,6"></td><td id="g,14,7"></td><td id="g,14,8"></td><td id="g,14,9"></td><td id="g,14,10"><td id="g,14,11"></td><td id="g,14,12"></td><td id="g,14,13"></td><td id="g,14,14"></td><td id="g,14,15"></td><td id="g,14,16"></td>
            </tr>
            <tr class="bottom_row">    
                <td class="bottom_row"></td><td class="bottom_row">1</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">2</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">3</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">4</td><td  class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td>
            </tr>
        </table>
        </div>
        <div id="bass">
            <table>
                <tr>    
                    <td class="left_row">A</td><td id="b,1,1"></td><td id="b,1,2"></td><td id="b,1,3"></td><td id="b,1,4"></td><td id="b,1,5"></td><td id="b,1,6"></td><td id="b,1,7"></td><td id="b,1,8"></td><td id="b,1,9"></td><td id="b,1,10"><td id="b,1,11"></td><td id="b,1,12"></td><td id="b,1,13"></td><td id="b,1,14"></td><td id="b,1,15"></td><td id="b,1,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">B</td><td id="b,2,1"></td><td id="b,2,2"></td><td id="b,2,3"></td><td id="b,2,4"></td><td id="b,2,5"></td><td id="b,2,6"></td><td id="b,2,7"></td><td id="b,2,8"></td><td id="b,2,9"></td><td id="b,2,10"><td id="b,2,11"></td><td id="b,2,12"></td><td id="b,2,13"></td><td id="b,2,14"></td><td id="b,2,15"></td><td id="b,2,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">C</td><td id="b,3,1"></td><td id="b,3,2"></td><td id="b,3,3"></td><td id="b,3,4"></td><td id="b,3,5"></td><td id="b,3,6"></td><td id="b,3,7"></td><td id="b,3,8"></td><td id="b,3,9"></td><td id="b,3,10"><td id="b,3,11"></td><td id="b,3,12"></td><td id="b,3,13"></td><td id="b,3,14"></td><td id="b,3,15"></td><td id="b,3,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">D</td><td id="b,4,1"></td><td id="b,4,2"></td><td id="b,4,3"></td><td id="b,4,4"></td><td id="b,4,5"></td><td id="b,4,6"></td><td id="b,4,7"></td><td id="b,4,8"></td><td id="b,4,9"></td><td id="b,4,10"><td id="b,4,11"></td><td id="b,4,12"></td><td id="b,4,13"></td><td id="b,4,14"></td><td id="b,4,15"></td><td id="b,4,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">E</td><td id="b,5,1"></td><td id="b,5,2"></td><td id="b,5,3"></td><td id="b,5,4"></td><td id="b,5,5"></td><td id="b,5,6"></td><td id="b,5,7"></td><td id="b,5,8"></td><td id="b,5,9"></td><td id="b,5,10"><td id="b,5,11"></td><td id="b,5,12"></td><td id="b,5,13"></td><td id="b,5,14"></td><td id="b,5,15"></td><td id="b,5,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">F</td><td id="b,6,1"></td><td id="b,6,2"></td><td id="b,6,3"></td><td id="b,6,4"></td><td id="b,6,5"></td><td id="b,6,6"></td><td id="b,6,7"></td><td id="b,6,8"></td><td id="b,6,9"></td><td id="b,6,10"><td id="b,6,11"></td><td id="b,6,12"></td><td id="b,6,13"></td><td id="b,6,14"></td><td id="b,6,15"></td><td id="b,6,16"></td>
                </tr>
                <tr>    
                    <td class="left_row">G</td><td id="b,7,1"></td><td id="b,7,2"></td><td id="b,7,3"></td><td id="b,7,4"></td><td id="b,7,5"></td><td id="b,7,6"></td><td id="b,7,7"></td><td id="b,7,8"></td><td id="b,7,9"></td><td id="b,7,10"><td id="b,7,11"></td><td id="b,7,12"></td><td id="b,7,13"></td><td id="b,7,14"></td><td id="b,7,15"></td><td id="b,7,16"></td>
                </tr>
                <tr class="bottom_row">    
                    <td class="bottom_row"></td><td class="bottom_row">1</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">2</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">3</td><td class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td><td class="bottom_row">4</td><td  class="bottom_row">e</td><td class="bottom_row">&</td><td class="bottom_row">a</td>
                </tr>
            </table>
        </div>
       <button id="save" onclick="save()">Save</button>    
    </body>
 </html>